[%
    IF categorie.id;
        ACTIONHREF=c.uri_for('/zaaktype/categorie/edit/' _ categorie.id);
    ELSE;
        ACTIONHREF=c.uri_for('/zaaktype/categorie/edit');
    END;
%]

<div id="categorie_edit">
<form method="POST" action="[% ACTIONHREF %]">
<input type="hidden" name="action" value="add">
<input type="hidden" name="parent_id" value="[% c.req.params.parent_id %]" />
<table cellspacing="1" class="table_zaakinformatie">
    <tbody>
    
    <tr class="table_zaakinformatie_tr">
        <td class="table_td_left_zaakinformatie">Naam Generieke Categorie:</td>
        <td class="table_td_right_zaakinformatie"><input type="text" name="categorie" value="[% categorie.categorie %]" /></td>
    </tr>
   </tbody>
</table>

<table class="table_ztbmenu">
    <tr class="table_ztbmenu_tr">
        <td class="table_ztbmenu_tdright"><input id="dialog-submit" type="submit" class="button button-primary" value="Verzenden"></td>
    </tr>
</table>
</form>
</div>
