zs-role-picker{
	display: block;
}

.role-picker-part{
	display: flex;
	padding:.2rem 0;
}

.role-picker-part-control {
	display: flex;
	flex: 1 1 auto;
	flex-flow: column nowrap;
}

.role-picker-part-label{
	min-width:65px;
	font-size:.933rem;
}

.role-picker-part-control-select {
	display: flex;
	flex: 1 1 auto;
	padding: 0;
	margin: 0;
}

.role-picker-part-control-filter {
	position: relative;
	display: flex;
	flex: 1 1 auto;
	margin-bottom: 5px;

	.role-picker-part-control-filter-icon {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0.5rem;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
	}

	.role-picker-part-control-filter-input {
		padding-left: 2rem;
	}
}
