[% RETURN IF c.user_exists -%]
[% nowrapper=1 -%]

<!DOCTYPE html>

<!--[if IE 7 ]>    <html class="ie ie7 oldie basic" xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 oldie basic" xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml""> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 basic" xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html xml:lang="en" lang="en" xmlns="http://www.w3.org/1999/xhtml"> <!--<![endif]-->


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>[% IF page_title %][% page_title | html_entity %] - [% END %]Gemeente Dijk en Waard</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

    [% PROCESS form/common_form_header_includes.tt %]
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
    <link media="screen" href="/css/templates/[% c.config.gemeente_id %].css" type="text/css" rel="stylesheet" />

    [% PROCESS layouts/common_header_includes_js.tt %]

<link rel="apple-touch-icon" sizes="180x180" href="/tpl/zaak_v1/nl_NL/form/[% c.config.gemeente_id %]/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/tpl/zaak_v1/nl_NL/form/[% c.config.gemeente_id %]/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/tpl/zaak_v1/nl_NL/form/[% c.config.gemeente_id %]/img/favicon-16x16.png">
<link rel="manifest" href="/tpl/zaak_v1/nl_NL/form/[% c.config.gemeente_id %]/img/site.webmanifest">
<link rel="mask-icon" href="/tpl/zaak_v1/nl_NL/form/[% c.config.gemeente_id %]/img/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

</head>
<body data-ng-app="Zaaksysteem">
<div id="top-bar-wrap" class="clr"></div>

<div id="container">
    <header role="banner" data-ng-controller="nl.mintlab.pip.SiteImproveController">
        <div class="inner" data-ng-controller="nl.mintlab.pip.GoogleAnalyticsGtagController">
            <div id="logo" ng-init="googleAnalytics('UA-202744609-1'); siteImprove(6279167)">
                <a href="https://dijkenwaard.nl"></a>
            </div>
        </div>
    </header>

<div id="main" class="clearfix" role="main">


