<div class="notificatie-preview">
	<div class="notificatie-header">
        <div class="line"><strong>Van</strong> Jan Bijzaak</div>
        <div class="line"><strong>Ontvangen</strong> 1 Januari 2018</div>
        <div class="line"><strong>Onderwerp</strong> [% bib_entry.subject %]</div>
    </div>
    <div class="message">
        <strong>Bericht</strong><br/>
        <div class="message-content">[% bib_entry.message | html_line_break %]</div>
    </div>
</div>