<div class="block block-doc-intake-form">

    <div class="block-header clearfix">
        <div class="block-header-title title-with-icon">
            <i class="mdi mdi-plus-circle block-header-icon title-with-icon-icon"></i> <span class="title-with-icon-text">Toevoegen document</span>
        </div>
    </div>

    <div id="content" class="block-content">
        <input type="hidden" name="doc_intake_update" value="1" />
        <table class="no_margin form">
            <tbody>
            [% INCLUDE widgets/zaak/document.tt
                type_label     = 'Type label',
                document_id    = c.req.params.actie_value,
                label          = 'Naam label',
                ezra_id        = 'ezra_id_document',
                selector_input = 'document',
                input_name     = 'Document',
                tooltip_label  = 'Document',
            %]
            </tbody>
        </table>
    </div>

</div>
