<!doctype html>
<html lang="en" ng-app="Zaaksysteem.meeting">
<head>
	<meta charset="utf-8">
	<title>VergaderApp</title>
	<base href="/vergadering/"/>
	<link rel="shortcut icon" href="data:image/x-icon;" type="image/x-icon">
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/js/csp.js"></script>
</head>
<body class="body-scroll-container">

  <!-- Editing this file alone won't change anything -->
  <!-- You have to update corresponding rendered index file in mono -->
  <!-- https://xxllnc.atlassian.net/browse/MINTY-9896 -->

<zs-snackbar></zs-snackbar>

<zs-ui-view-progress view-name="*" show-spinner="false">
</zs-ui-view-progress>

<ui-view></ui-view>

<script src="/assets/vendors.bundle.js"></script>

</body>
</html>
