.volgende-fase-errors {
    font-size: 14px;
    list-style: none;
    p{
        margin-bottom: 10px;
    }
    li{
        padding: 3px 5px 3px 37px;
        margin-left: 0;
        line-height: 2.3;
        color: red;
        background: #f4e1de url(/images/icon-validation-failed.png) 12px center no-repeat;
        border: 1px solid red;
        margin-bottom: 4px;
        list-style: none;
        border-radius: 3px;
    }
}