button{
    font-size:1em;
    background-color:transparent;
}

a:focus>.focus-outline {
  outline: 1px dotted #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

@import "partials/dependencies";
@import "partials/button";
@import "partials/dropdown";
@import "partials/button";


// Misc

    .show-more{
        padding: 8px 0;
        display:block;
        color: #aaa;
        font-size: .92em;
        text-align: left;
        border-bottom: 1px solid #eee;
        background:transparent;
        width:100%;
        outline: none;
    }
    
    .show-more:hover{
        cursor: pointer;
        background: $background-color;
    }

    .show-more.show-less .icon-show-more  { background-position: 0 -18px;}

    .show-more-no-line{
        border:none;
        padding:3px 0;
        background:#f9f9f9;
        background:rgba(0,0,0,0.05);
        margin:8px 0 0;
        text-align: center;
        &:hover{
            background:#f0f0f0;
            background:rgba(0,0,0,0.07);
        }
    }