[% USE Scalar %]

[% zaakniveaumap = [
    '', 'A','B','C','D','E','F','G','H',
    'I','J','K','L','M','N','O','P','Q',
    'R','S','T','U','V','W','X','Y','Z'
]; %]

[% zaakdata = startzaak %]
[% global.nodecount = (global.nodecount + 1) %]

[%  display_fields = [
    {
        'class' => 'level',
        'fieldname' => 'level',
        'label' => 'Zaakniveau',
        'sortable' => '1',
    },
    {
        'class' => 'zaaknummer',
        'fieldname' => 'me.id',
        'label' => 'Zaaknr',
        'sortable' => '1',
        'systeemkenmerk' => 'me.id'
    },
    {
        'class' => 'voortgang',
        'fieldname' => 'me.days_perc',
        'label' => 'Voortgang',
        'sortable' => undef,
        'systeemkenmerk' => 'me.days_perc'
    },
    {
        'class' => 'zaaktype',
        'fieldname' => 'zaaktype_node_id.titel',
        'label' => 'Zaaktype',
        'sortable' => '1',
        'systeemkenmerk' => 'zaaktype_node_id.titel'
    },
    {
        'class' => 'subject',
        'fieldname' => 'me.onderwerp',
        'label' => 'Extra informatie',
        'sortable' => '1',
        'systeemkenmerk' => 'me.onderwerp'
    },
    {
        'class' => 'behandelaar',
        'fieldname' => 'behandelaar.naam',
        'label' => 'Behandelaar',
        'sortable' => 1,
        'systeemkenmerk' => 'behandelaar.naam'
    },
    {
        'class' => 'resultaat',
        'fieldname' => 'me.resultaat',
    },
    #{
     #   'class' => 'besluit',
      #  'fieldname' => 'me.besluit',
      #  'label' => 'Besluit',
      #  'sortable' => 1,
      #  'systeemkenmerk' => 'besluit'
    # },
    {
        'class' => 'info',
        'fieldname' => 'info',
    },
]; %]

<tr class="select-row[% (prevnode ? ' child-of-node-' _ prevnode : '') %][% (zaak.nr == zaakdata.nr ? ' expanded' : '') %][% (zaak.nr == zaakdata.nr ? ' current_case' : '') %]" id="node-[% global.nodecount %]">

    [% FOREACH my_display_field = display_fields %]
    <td class="field_[% my_display_field.fieldname.replace('\.','_') %]">
        [% PROCESS widgets/general/zaak_veld.tt 
            display_field = my_display_field.fieldname
            display_class = my_display_field.class
            level = zaakniveaumap.$niveau
        %]
    </td>                
    [% END %]
</tr>

[% IF zaakdata.scalar.zaak_children.count %]
    [% localprevnode = global.nodecount %]

    [% zaak_children = zaakdata.scalar.zaak_children.scalar.search(
        {}, {order_by => 'me.id'}
    ) %]

    [% WHILE (startupzaak = zaak_children.next) %]
        [% NEXT IF startupzaak.deleted %]
        [% INCLUDE zaak/elements/relation/child.tt
            prevnode  = localprevnode
            startzaak = startupzaak
            niveau    = niveau + 1;
        %]
    [% END %]
[% END %]

[% prevnode = global.nodecount %]
